@model TbContact
<html lang="en">

<body>

    <!--section start-->
    <section class="contact-page section-b-space">
        <div class="container">
            <div class="row section-b-space">
               
                <div class="col-lg-12">
                    <div class="contact-right">
                        <ul>
                            <li>
                                <div class="contact-icon">
                                    <img src="../images/phone.png"
                                         alt="Generic placeholder image">
                                    <h6>Contact Us</h6>
                                </div>
                                <div class="media-body">
                                    <p>+905468940531</p>
                                    <p>+905528842899</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p>Türkiye ,Istanbul ,Avcılar merkez, lemon sokak</p>
                                    <p>Turkey 123456</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <img src="../images/email.png"
                                         alt="Generic placeholder image">
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p>ahmedmegahed764@gmail.com</p>
                                    <p>ahmednassef35@gmail.com</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="fa fa-fax" aria-hidden="true"></i>
                                    <h6>Fax</h6>
                                </div>
                                <div class="media-body">
                                    <p>ahmedmegahed764@gmail.com</p>
                                    <p>ahmednassef35@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="theme-form" asp-controller="Contact" asp-action="Save" method="post" role="form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">First Name</label>
                                <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter Your name"
                                       required="">
                            </div>
                            <div class="col-md-6">
                                <label for="name">Last Name</label>
                                <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Phone number</label>
                                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Enter your number"
                                       required="">
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="Email" required="">
                            </div>
                            <div class="col-md-12">
                                <label for="review">Write Your Message</label>
                                <textarea class="form-control" placeholder="Write Your Message"
                                          asp-for="Message" rows="6"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-success"  type="submit">Send Your Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
  </body>

</html>